body {
  margin: 30px;
}

form {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 0 0;
}

th, td {
  padding: 10px 15px;
}

.labels {
  display: flex;
  flex-direction: column;
}

.subscriber-form {
  display: flex;
}
